<div >
    <h2 class="booking-info" style="margin-top: 10px;">Chi tiết booking</h2>
    <div class="booking-info">
        <div> <img src="{{booking.customer.avatar_url}}" alt="Logo"></div>
        <div>
            <p class="booking-info-title">Tên khách hàng: {{booking.customer.name}}</p>
            <p class="booking-info-title"> Số điện thoại: {{booking.customer.phone_number}}</p>
            <p class="booking-info-title"> Email: {{booking.customer.email}}</p>
            <p class="booking-info-title"> Địa chỉ : {{booking.customer.address}}</p>
            <p class="booking-info-title"> Vị trí: {{booking.slot_name}}</p>
            <p class="booking-info-title"> Ngày đặt lịch: {{booking.appointment_time}}</p>
            <p class="booking-info-title"> Yêu cầu: {{booking.condition_des}}</p>
            <p class="booking-info-title"> Đã thực hiện: {{booking.made}}</p>
        </div>
    </div>

    <div class="booking-info">
        <div> <img src="{{booking.car.image_url}}" alt="Logo"></div>
        <div>
            <p class="booking-info-title">Tên xe: {{booking.car.name}}</p>
            <p class="booking-info-title"> Biển số xe: {{booking.car.license_plates}}</p>
            <p class="booking-info-title"> Trạng thái: {{booking.car.status}}</p>
        </div>
    </div>

    <div class="submit-buy">
        <button type="submit" class="submit-button-buy" (click)="navigateURl()"> <span>Tạo hóa đơn</span></button>
    </div>
</div>