<body >
    <main class="table" id="customers_table">
        <section class="table__header">
            <h1>Quản lý Hóa đơn khách hàng</h1>
            <div class="input-group">
              <input type="search" [(ngModel)]="searchValue" (ngModelChange)="onSearchChange()" placeholder="Search Data...">
              <i style="font-size: 20px;" class="fa-solid fa-magnifying-glass"></i>
            </div>
          </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> STT</th>
                        <th> Họ và Tên</th>
                        <th> Email </th>
                        <th> Số điện thoại </th>
                        <th> Tổng số tiền </th>
                        <th> Trạng thái </th>
                        <th> Tùy chọn </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders">
                        <td>{{ order.id}}</td>
                        <td style="display: flex;"><img src="{{order.customer.avatarUrl}}" alt="">{{ order.customer.name }}</td>
                        <td>{{ order.customer.phoneNumber }}</td>
                        <td>{{ order.customer.email }}</td>
                        <td>{{ order.totalPrice.toLocaleString('vi-VN') }} {{order.currency}}</td>
                        <td>{{ order.status }}</td>
                        <td><div class="action-menu" (click)="toggleMenu(order.id)">
                            <button class="action-button" data-household-id="${household.id}">
                                <i class="fas fa-cogs"></i>
                            </button>
                          <div class="menu-content"  [ngClass]="{'open-menu': openMenu[order.id]}">
                            <button class="menu-content-button" (click)="getById(order.id)"><i class="fas fa-pencil-alt"></i> Xem chi tiết</button>
                        </div>
                        </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="store-filter clearfix">
                <span class="store-qty">Hiển thị {{ (currentPage - 1) * pageSize + 1 }} - {{ (currentPage * pageSize) < total ? currentPage * pageSize : total }} khách hàng trong tổng số {{ total }} kết quả</span>
                <ul class="store-pagination">
                    <li *ngFor="let page of getPageNumbers()" [class.active]="currentPage === page" (click)="changePage(page)">
                        <a >{{ page }}</a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</body>
