<body style="display: block;">
    <div class="card">
        <p class="card-tytle">Thống kê khách hàng theo doanh thu</p>
        <div class="ant-card-body">
            <div class="ant-row">
                <div class="ant-statistic">
                    <div class="ant-statistic-title">
                        <div class="ant-space-item"><span>Tổng đơn hàng
                                (đơn)</span></div>
                    </div>
                    <div class="ant-statistic-content"><span class="ant-statistic-content-value">{{totalOrder}}</span></div>
                </div>
                <div class="ant-statistic">
                    <div class="ant-statistic-title">
                        <div class="ant-space-item"><span>Tổng khách hàng
                                (khách)</span></div>
                    </div>
                    <div class="ant-statistic-content"><span class="ant-statistic-content-value">{{totalCustomer}}</span></div>
                </div>
                <div class="ant-col">
                    <div class="ant-statistic">
                        <div class="ant-statistic-title">
                            <div class="ant-space-item"><span>Tổng doanh thu (VNĐ)</span></div>
                        </div>
                        <div class="ant-statistic-content"><span
                                class="ant-statistic-content-value"><span>{{totalRevenue.toLocaleString("vi-VN")}} VNĐ</span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main class="table" id="customers_table">
        <section class="table__header">
            <form [formGroup]="timeForm" (ngSubmit)="searchBetweenTime()">
                <div>
                  <div class="timeForm-lable">
                    <mat-form-field appearance="fill">
                      <mat-label>Ngày Bắt Đầu</mat-label>
                      <input matInput [matDatepicker]="startDatePicker" placeholder="Chọn ngày bắt đầu" formControlName="startDate"
                             [value]="timeForm.get('startDate').value">
                      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                      <mat-datepicker #startDatePicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="timeForm-lable">
                    <mat-form-field appearance="fill">
                      <mat-label>Ngày Kết Thúc</mat-label>
                      <input matInput [matDatepicker]="endDatePicker" placeholder="Chọn ngày kết thúc" formControlName="endDate" 
                             [min]="timeForm.get('startDate').value" [disabled]="!timeForm.get('startDate').value"
                             [value]="this.timeForm.get('endDate').value">
                      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                      <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div><button class="time-form-button" [disabled]="!timeForm.valid" type="submit">Tìm kiếm</button></div>
              </form>
              
              
              <div class="input-group">
                <input type="search" [(ngModel)]="searchValue" (ngModelChange)="onSearchChange()"
                    placeholder="Search Data...">
                <i style="font-size: 20px;" class="fa-solid fa-magnifying-glass"></i>
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> STT</th>
                        <th> Họ và Tên</th>
                        <th> Email </th>
                        <th> Số điện thoại </th>
                        <th> Số lần sửa xe </th>
                        <th> Tùy chọn </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let statistic of statistics; let i = index">
                        <td>{{ i}}</td>
                        <td><img src="../../../assets/images/Facebook-Avatar_3.png" alt="">{{ statistic.name }}</td>
                        <td>{{ statistic.phone }}</td>
                        <td>{{ statistic.email }}</td>
                        <td>{{ statistic.numCorrection }}</td>
                        <td>{{ statistic.totalPrice.toLocaleString("vi-VN") }} {{statistic.currency}}</td>
                        <td>
                            <div class="action-menu" (click)="toggleMenu(statistic.customerId)">
                                <button class="action-button" data-household-id="${household.id}">
                                    <i class="fas fa-cogs"></i>
                                </button>
                                <div class="menu-content" [ngClass]="{'open-menu': openMenu[statistic.customerId]}">
                                    <button class="menu-content-button" (click)="edit(statistic.customerId)"><i
                                            class="fas fa-pencil-alt"></i> Xem chi tiết</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="store-filter clearfix">
                <span class="store-qty" *ngIf="statistics && statistics.length > 0">
                  Hiển thị {{ (currentPage - 1) * pageSize + 1 }} - 
                  {{ (currentPage * pageSize) < totalCustomer ? currentPage * pageSize : totalCustomer }} 
                  khách hàng trong tổng số {{ totalCustomer }} kết quả
                </span>
                <span class="store-qty" *ngIf="!statistics || statistics.length === 0">
                  Khách hàng trong tổng số {{totalCustomer}} kết quả
                </span>
              </div>
              
        </section>
    </main>
</body>